@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "IBM Plex Sans", cursive;
}
.heading-title {
  font-size: 35px;
}
.logout-icon {
  font-size: 25px;
}

.login-form-top {
  width: 100%;
}

.login-container {
  width: 40%;
  border: 0.5px solid #ccc;
  border-radius: 10px;
}

.form-floating {
  width: 90%;
}

.guest-button {
  width: 90%;
  background-color: rgb(255, 47, 47);
  border: 1px solid red;
  color: white;
  border-radius: 5px;
  height: 40px;
}

.guest-button:hover {
  background-color: red;
}
.login-button {
  width: 90%;
  background-color: #0095f6;
  border: 1px solid blue;
  color: white;
  border-radius: 5px;
  height: 40px;
}

/* posts css */

.posts-top-container {
  width: 100%;
  /* min-height: 100vh; */
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: #f0f0f0;
}

.footer-icon {
  border: 0.1px solid;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  /* background-color: white; */
  color: black;
}

.footer-icon.active {
  color: white;
  background-color: black;
}

.footer-icon .fas {
  transition: color 0.3s ease;
}

.footer-icon.active .fas {
  color: white;
}

.footer-icon-add:active {
  color: white;
  background-color: black;
}

@media screen and (max-width: 1000px) {
  .login-container {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .login-container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .login-container {
    width: 60%;
  }

  .heading-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 580px) {
  .heading-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 470px) {
  .heading-title {
    font-size: 27px;
  }
  .logout-icon {
    font-size: 22px;
  }
}
@media screen and (max-width: 420px) {
  .login-container {
    width: 75%;
  }

  .heading-title {
    font-size: 25px;
  }
  .logout-icon {
    font-size: 20px;
  }
}
@media screen and (max-width: 370px) {
  .heading-title {
    font-size: 22px;
  }
  .logout-icon {
    font-size: 18px;
  }
}
